anyio==4.12.0
certifi==2025.11.12
click==8.3.1
dotenv==0.9.9
filelock==3.20.1
fsspec==2025.12.0
generativeai==0.0.1
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.2.3
idna==3.11
packaging==25.0
python-dotenv==1.2.1
PyYAML==6.0.3
shellingham==1.5.4
tqdm==4.67.1
typer-slim==0.21.0
typing_extensions==4.15.0
google-cloud-documentai==3.0.0
google-genai==0.1.1
supabase==2.13.0
pydantic==2.10.0
python-dotenv==1.2.1
